<%- include('./partials/header1.ejs') %>

<h1 style="text-align: center;font-size: 30px; font-weight: 700; margin-top: 100px; ;">SHOPPING CART</h1>
<div class="cart" style="margin-top: 10px">

    <div class="cart-inner" style="display: grid ; grid-template-columns: 2fr 2fr 3fr 1fr 2fr;  border: solid; border-color: aqua;border-radius: 20px;" >

        <div class="cart-content"  style="margin:auto ;">
          <h3 class="cart-name">PRODUCT</h3>
        </div>
    
        <div style="margin:auto ;">
            <h3 class="price-cart"> PRICE </h3>
        </div>
    
        <div class="quantity" style="margin:  auto;">
          <h3>QUANTITY</h3>
        </div>
    
        <div style="margin:auto ;">
          <h3 class="product-price">SUBTOTAL</h3>
        </div>
    
        <div style="margin:auto ;">
          <h3>REMOVE</h3>
        </div>
    
      </div>

  <% cart.forEach(item =>{ %>

  <div class="cart-inner" style="display: grid ; grid-template-columns: 2fr 2fr 3fr 1fr 2fr; border: solid; border-color: rgb(113, 224, 240);border-radius: 20px; margin-top: 10px;" >

    <div class="cart-content"  style="margin:auto ;">
      <b class="cart-name"><%= item.name %></b>
    </div>

    <div style="margin:auto ;">
        <p class="price-cart"><span>$</span> <%=item.price %></p>
    </div>

    <div class="quantity" style="margin:  auto;">
      <form action="/edit_product_quantity" method="post">
        <input type="hidden" value="<%= item.pid %>" name="pid" />
        <input type="submit"value="-"class="edit-btn" name="decrease_quantity"/>
        <input type="text"name="quantity"value="<%= item.quantity %>"readonly/>
        <input type="submit"value="+"class="edit-btn"name="increase_quantity"/>
      </form>
    </div>

    <div style="margin:auto ;">
      <span class="product-price">$ <%=item.price * item.quantity %></span>
    </div>

    <div style="margin:auto ;">
      <form action="/remove_product" method="post">
        <input type="hidden" name="pid" value="<%= item.pid%>" />
        <input type="submit"name="remove_btn"class="remove-btn"value="remove"pid="remove"/>
      </form>
    </div>

  </div>

  <% }) %>
</div>

<div style="margin: 20px 100px;display: flex;justify-content: space-between; align-items: center; ">
  <div style="display: flex">
    <h1 style="font-size: 35px; font-weight: 700; margin-right: 20px">
      Total:
    </h1>
    <h4 style="color: red; font-size: 35px; font-weight: 800">$<%= total %></h4>
  </div>
  <a href="#" class="checkout-btn">Checkout</a>
</div>

<%- include('./partials/footer.ejs') %>
