<%- include("partials/header") %>

<h2 style="margin-top: 60px; margin-left: 770px;"><%= grocery1 %></h2>

<div class="row" style="margin-top:10px ;margin-left:40px; margin-right:40px;">
   <!-- filter part starts -->
    <div class="col-md-2 " style="position:fixed ;">
        <%- include("margin") %>
            </div>   
            <!-- filter part ends -->


    

        <div class="col-md-5" style="margin-left: 200px;" >

        

         


          <% for(let item=0;item<result.length;item+=2){ %>
            <div class="card" style=" width: 25rem ;  margin: auto; margin-bottom: 20px; ">
              <img class="card-img-top" src="dryfruits1.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title"><%=result[item].name %></h5>
                <p class="card-text"><%=result[item].description %></p>
                <b style="display:inline ;"><%= result[item].price %></b>
                <a href="#" class="btn btn-primary" style="float: right;">Add to cart</a>
              </div>
            </div>  
           <% } %>

        </div>

        <div class="col-md-5" >

           
              
             
         <% for(let item=1;item<result.length;item+=2){ %>
          <div class="card" style=" width: 25rem ;  margin: auto; margin-bottom: 20px; ">
            <img class="card-img-top" src="dryfruits1.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title"><%=result[item].name %></h5>
              <p class="card-text"><%=result[item].description %></p>
              <b style="display:inline ;"><%= result[item].price %></b>
              <a href="#" class="btn btn-primary" style="float: right;">Add to cart</a>
            </div>
          </div>  
         <% } %>

        </div>
       
        <!-- <p>hello</p> -->
        </div>

    

        

<%- include("partials/footer") %>