<%- include('./partials/header.ejs') %> 
  
     <h1 style="text-align:center;font-size: 30px; font-weight:700;">Shopping Cart</h1> 
    <div class="cart"> 
     <% cart.forEach(item =>{ %> 
  
   <div class="cart-inner">       
     <img src="images/<%= item.image %>" alt=""> 
 <div class="cart-content"> 
 <p class="cart-name"> <%= item.name %></p>  
  
 <% if(item.discount_price){ %> 
     <p class="price-cart"> <span>$</span> <%=item.discount_price %> </p> 
 <% }else{ %> 
 <p class="price-cart"> <span>$</span> <%=item.price %> </p> 
     <%} %> 
  
  
  
 <div class="quantity"> 
     <form  action="/edit-product-quantity" method="post"> 
         <input type="hidden" value="<%= item.id %>" name="id"> 
         <input type="submit" value="-" class="edit btn" name="decrease_quantity" onclick="decrease(event);"> 
         <input type="text" name="quantity" value="<%= item.quantity %>" readonly> 
         <input type="submit" value="+" class="edit btn" name="increase_quantity" onclick="increase(event);"> 
      
     </form> 
     <!-- <div> 
  
         <% if(item.discount_price){ %> 
             <span class="product-price">$ <%=item.discount_price * item.quantity %> </span> 
                 
         <% }else{ %> 
         <span class="product-price">$ <%=item.price * item.quantity %></span> 
         <% } %> 
     </div>--></div>  
     <form action="/remove-product" method="post"> 
         <input type="hidden" name="id" value="<%= item.id%>"> 
         
         <input type="submit" name="remove_btn" class="remove-btn" value="" id="remove"> 
          
         <label for="remove"><img src="../images/trash-can.png" alt=""></label> 
     </form> 
   </div> 
     </div> 
  
     
     <%  }) %> 
    </div> 
         <div style="margin: 20px 100px; display: flex; justify-content: space-between; align-items: center;"> 
            <div style="display: flex;">  
                 <h1 style="font-size: 35px; font-weight:700; margin-right: 20px; ">Total: </h1> 
                 <h4 style="color: red; font-size:35px; font-weight:800;"> $<%= total %></h4> 
             </div> 
             <a href="#" class="checkout-btn">Checkout</a> 
         </div> 
  
      
    
         <%- include('./partials/footer.ejs') %>